* {
  padding: 0;
  margin: 0;
}
.mobile {
  display: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: url("../images/background.jpg") no-repeat;
  background-position: center bottom;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: 100%;
  width: 100%;
  height: auto;
  color: #00adf1;
}
header {
  padding: 5px 0;
  text-align: center;
  font-size: 28px;
  width: 100%;
  background: rgba(0,0,0,0);
}
header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
}
header li {
  margin: 0 10px;
  padding: 20px 50px;
  color: #000;
}
nav a,
nav a:hover {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
#container {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
/*M$ hack for the superfluous "X"*/
input[type="text"]::-ms-clear {
  display: none;
}
input[type="text"] {
  border: none;
  border: 0;
  border-radius: 4px;
  height: 58px;
  width: 400px;
  background: #f4f4f6;
  color: #000;
  padding: 20px 16px;
  font-size: 25px;
  -moz-box-shadow: inset 0 0 5px #ccc;
  -webkit-box-shadow: inset 0 0 5px #ccc;
  box-shadow: inset 0 0 5px #ccc;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn {
  width: 150px;
  padding: 11px 0;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  background-color: #00adf1;
  color: #fff;
  margin-left: 25px;
}
.btn:hover {
  background-color: #f5bad6;
  color: #000;
}
input[type="submit"],
input[type="text"] {
  outline: none;
}
form {
  display: inline-flex;
  margin-top: 15px;
}
h1 {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  color: #241e20;
  font-size: 40px;
}
#container p {
  font-size: 26px;
}
.imgOne {
  max-width: 488px;
  width: 100%;
  height: auto;
}
.imgTwo {
  max-width: 1169px;
  width: 100%;
  height: auto;
}
.imgThree {
  max-width: 316px;
  width: 100%;
  height: auto;
}
.imgFour {
  max-width: 425px;
  width: 100%;
  height: auto;
}
.imgFive {
  max-width: 297px;
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  nav {
    display: inline-table;
  }
}
