@import normalize
@import util

salmon = #F79983
tart = #5B5268
yellow = #FFF000
purple = #BB4B9B
grey = #383738

body
  font-smooting()
  background tart

// fullscreen modal

#modal-container.fullscreen
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  text-align center
  background black

#modal-row.fullscreen
  height 100%

#modal-img.fullscreen
  height 100%
  display inline-block
  vertical-align middle
  padding-bottom 1.1em

// normal modal

#modal-container.normal
  display none

#modal-row.normal
  height auto

#modal-img.normal
  height auto

// full bars

.fullbar
  width 100%
  height 3em

.fullbar.yellow
  background yellow

.fullbar.salmon
  background salmon

.fullbar.blank
  background tart
  height 1em

// home

#home


// header graphic

#tawba
  height 150%

#walk
  height 150%

#character
  height 600%
