@import normalize
@import util
//@import fonts

//--- mobile-first default 20em (320px) portrait------//

salmon = #F79983
tart = #5B5268
yellow = #FFF000
purple = #BB4B9B
grey = #383738

flipx()
  -moz-transform scaleX(-1)
  -o-transform scaleX(-1)
  -webkit-transform scaleX(-1)
  transform scaleX(-1)
  filter  FlipH
  -ms-filter "FlipH"
  position relative
  z-index 0 

flipy()
  -moz-transform scaleY(-1)
  -o-transform scaleY(-1)
  -webkit-transform scaleY(-1)
  transform scaleY(-1)
  filter  FlipV
  -ms-filter "FlipV"
  position relative
  z-index 0 

a, a:visited
  text-decoration none
  color black

a:hover
  color blue

.copy
  display inline-block
  text-align left
  width 90%
  margin 1em

.y
  background yellow

.p
  background purple

#container
  width 100%
  overflow hidden

img
  width 100%

section
  width 100%
  display inline-block
  text-align center

body
  font-smooting()
  background tart

// headline

.headline
  width 100%
  margin 0
  text-align center
  background salmon
  margin-top 2.5rem
  margin-bottom 2.5rem

.headline img
  width 100%

// home

#home
  #tawba
    margin 3em 0 0 0
  .headline
    img
      margin -2em 0
  #character
    padding 2em 0 0 2em 

// music

#mahem
  color white
  text-transform uppercase
  font-size 2.0em
  font-family freeroad_blackregular
  margin 0 0 .5em 0

#music-acts
  display inline-block

.music-act
  display inline-block
  line-height .5em
  margin .25em .2em 0.2em 0
  font-family freeroadregular
  font-weight bold
  font-size 2.0em
  //box-shadow .1em .1em 0.1em .1em black
  text-transform uppercase
  white-space nowrap

#noma 
  font-size 3.1em

#laylo 
  font-size 3.0em

#hawthornes
  font-size 2.3em

#lee, #message
  font-size 2.5em

#ambrosial
  font-size 2.25em

#carter, #knowne, #haley
  font-size 2.0em

#louis, #nikki, #analise, #arsena
  font-size 1.5em

// food

#food .headline img
  width 100%
  padding 0 2em
  margin -2.0em 

#food img
  margin -3rem 0
  position relative
  z-index 1

#food img.flip
  flipx()

#ftf
  position relative
  z-index 1
  font-family freeroad_blackregular
  font-weight bold
  line-height .8em
  font-size 3em
  color yellow
  font-face bold
  padding .2em 0

#bubbles
  font-family freeroad_blackregular
  font-weight bold
  font-size 1.5em
  color tart
  margin-bottom 3.5em
  margin-top 1em
  white-space nowrap
  .exclamation
    display inline-block
    position relative
    height 2em
    right 1.2em
    img
      height 100%
      width auto
  .bubble
    padding .3em 0.6em
    margin .4em 0
    text-transform uppercase
    width auto 
    display inline-block
    background white
    border-radius 10em
    overflow visible
  .left-up
    position relative
    flipx()
    display inline-block
    height 1.1em
    top -0.9em
    left 0.8em
    img
      height 100%
      width auto
  .right-up
    position relative
    display inline-block
    height 1.1em
    top -1em
    right 1em
    img
      height 100%
      width auto
  .left-down
    position relative
    flipy()
    display inline-block
    height 1.1em
    top -0.8em
    left 1em
    img
      height 100%
      width auto
  .right-down
    flipy()
    position relative
    display inline-block
    height 1.1em
    bottom -1.3em
    right .8em
    img
      height 100%
      width auto
  #vivacious
    font-size .7em
    position relative
    left 0.8em
    font-size 1em
    .exclamation
      right .8em
      flipx()
  #brilliant
    position relative
    font-size 0.8em
    left -.7em
    .exclamation
      right .8em
  #angelic
    position relative
    font-size 1em
    left 1.2em
    .exclamation
      right .7em
      flipx()
  #creative
    font-size 0.8em

// about

#about
  padding-bottom 2em
  margin-bottom 3em
  background salmon
  text-align center
  font-family freeroadregular
  text-transform uppercase
  h1, h2, h3
    color yellow
    font-family freeroad_blackregular
  #past 
    margin-top -3em
    width 100%


#recap-video
  position relative
  background black
  padding-bottom 56.25%
  iframe
    position absolute
    top 0
    left 0
    height 100%
    width 100%

#maps #two
  padding 6em 0 4em 0
  display none

#maps
  width 100%
  height auto

// sponsors

#sponsors
  margin-bottom .7em
  padding-bottom .7em
  font-family Dalle, san-serif
  font-size 3em
  background white
  text-align center
  img
    padding 5% 5%

#hendrick
  img
    padding-top 10%

#ginger
  font-size .6em

#pawn
  img
    margin -20%

#kadi
  img
    padding 0
    margin -25%

// contact

#contact
  padding 1em
  background salmon
  font-family freeroadregular
  text-transform uppercase
  text-align center
  h1, h2, h3
    font-family freeroad_blackregular
  h1
    font-size 3em
    color yellow
    margin-top 0.3em
  h2
    font-size 2em
  div
    display inline-block
    vertical-align top
  .copy
    text-align center

#phone, #email, #facebook
  .copy
    min-width 12em
    margin-left .7em

#facebook
  display inline-block
  text-align center
  img
    height 3em
    width auto

#footer
  padding 1em
  font-family sans-serif

//------------- small (every 2em) ----------------//


@media only screen and (min-width:20.063em) // >320
  #ginger
    font-size .7em

@media only screen and (min-width:22.063em) // >352
  #ginger
    font-size .8em

@media only screen and (min-width:24.063em) // >384
  #ginger
    font-size .9em
  #contact
    font-size 1.4em
  #about
    font-size 1.5em
  #bubbles
    font-size 1.8em
  #ftf
    font-size 4.0em
  #mahem
    font-size 2.4em

//@media only screen and (min-width:26.063em) // >416

@media only screen and (min-width:28.063em) // >448
  #ginger
    font-size 1em
  #bubbles
    font-size 2.2em
  #mahem
    font-size 2.7em
  #noma
    font-size 2.6em

//----------- medium (every 3em) ----------------//

//@media only screen and (min-width:30.063em) // >480
//@media only screen and (min-width:33.063em) // >528
//@media only screen and (min-width:36.063em) // >576
//@media only screen and (min-width:39.063em) // >624
@media only screen and (min-width:42.063em) // >672
  #home
    padding 3em 0 3em 0
    .headline
      img
        margin -1.1em 0
  #tawba, #walk
    img
      width 40%
    padding 0 5%
  #tawba
    text-align left
  #walk
    text-align right
  #character
    position relative
    z-index 3
    margin -20% 0
    img
      height 15em
      width auto
      padding-left 2em
  #mahem
    font-size 3.5em
  #food
    img
      width 70%
    #ftf
      font-size 4.3em
  #bubbles
    font-size 3em
  #about
    font-size 1.5em
  #contact
    font-size 1.2em
  .tier-1
    margin-bottom 7%
    div
      display inline-block
      width 30%
  .tier-2
    margin-bottom 7%
    div
      display inline-block
      width 25%
  .tier-3
    div
      display inline-block
    #skilstak :after
    #laketown :after
    #ginger :after
        content '\2666'
        padding 0 .01em 0 0.07em
        color pink
    #cooke :after
    #couch :after
    #aquesta :after
    #sweets :after
      content '\00A0'


//------------ large (every 4 em) ---------------//

//@media only screen and (min-width:45.063em) // >720
//@media only screen and (min-width:49.063em) // >784
//@media only screen and (min-width:53.063em) // >848
//@media only screen and (min-width:57.063em) // >912
//@media only screen and (min-width:61.063em) // >976
//@media only screen and (min-width:65.063em) // >1040

//------------ huge (every 5 em) ---------------//

//@media only screen and (min-width:70.063em) // >1120
//@media only screen and (min-width:75.063em) // >1200
//@media only screen and (min-width:80.063em) // >1280
//@media only screen and (min-width:85.063em) // >1360
//@media only screen and (min-width:90.063em) // >1440
//@media only screen and (min-width:95.063em) // >1520
//@media only screen and (min-width:100.063em) // >1600
//@media only screen and (min-width:105.063em) // >1680
//@media only screen and (min-width:110.063em) // >1760
//@media only screen and (min-width:115.063em) // >1840

//----------------- ginormous  ----------------//

//@media only screen and (min-width:120.063em) // >1920

