@import normalize
@import util
//@import fonts

salmon = #F79983
tart = #5B5268
yellow = #FFF000
purple = #BB4B9B
grey = #383738

a, a:visited
  text-decoration none
  color black

a:hover
  color blue

.copy
  display inline-block
  text-align left
  width 90%
  margin 1em

.y
  background yellow

.p
  background purple

#container
  width 100%
  overflow hidden

img
  width 100%

section
  width 100%
  display inline-block
  text-align center

body
  font-smooting()
  background tart

// headline

.headline
  width 100%
  margin 0
  text-align center
  background salmon
  margin-top 2.5rem
  margin-bottom 2.5rem

.headline img
  width 100%

// home

#home
  #tawba
    margin 3em 0 0 0
  .headline
    img
      margin -2em 0
  #character
    padding 2em 0 0 2em 

// music

#mahem
  color white
  text-transform uppercase
  font-size 2.0em
  font-family freeroad_blackregular
  margin 0 0 .5em 0

.music-act
  font-family freeroadregular
  font-weight bold
  font-size 2.0em
  display inline-block
  box-shadow .1em .1em 0.1em .1em black
  text-transform uppercase
  white-space nowrap
  line-height .5em
  margin .1em

#noma 
  font-size 3.1em

#laylo 
  font-size 3.0em

#hawthornes,  #lee, #message
  font-size 2.5em

#ambrosial
  font-size 2.25em

#carter, #knowne
  font-size 2.0em

#louis, #haley, #nikki, #analise, #arsena
  font-size 1.5em

// food

#food .headline img
  width 100%
  padding 0 2em
  margin -2.0em 

#food img
  margin -3rem 0
  position relative
  z-index 1

#food img.flip
  -moz-transform scaleX(-1)
  -o-transform scaleX(-1)
  -webkit-transform scaleX(-1)
  transform scaleX(-1)
  filter  FlipH
  -ms-filter "FlipH"
  position relative
  z-index 0 

#ftf
  position relative
  z-index 1
  font-family freeroad_blackregular
  font-weight bold
  line-height .8em
  font-size 3em
  color yellow
  font-face bold
  padding .2em 0

#bubbles
  font-family freeroad_blackregular
  font-weight bold
  font-size 1.5em
  color tart
  margin-bottom 3.5em
  margin-top 1em
  .long
    font-size 0.8em
  .right-down, .right-up, .left-down, .left-up
    padding .3em 1em
    margin .2em 0
    text-transform uppercase
    width auto 
    display inline-block
    background white
    border-radius 25px

// about

#about
  padding-bottom 2em
  margin-bottom 3em
  background salmon
  text-align center
  font-family freeroadregular
  text-transform uppercase
  h1, h2, h3
    color yellow
    font-family freeroad_blackregular
  #past 
    margin-top -3em
    width 100%


#recap-video
  position relative
  background black
  padding-bottom 56.25%
  iframe
    position absolute
    top 0
    left 0
    height 100%
    width 100%

#maps #two
  padding 6em 0 4em 0
  display none

#maps
  width 100%
  height auto

// sponsors

#sponsors
  margin-bottom .7em
  padding-bottom .7em
  font-family Dalle, san-serif
  font-size 3em
  background white
  text-align center
  img
    padding 5% 5%

#hendrick
  img
    padding-top 10%

#ginger
  font-size .6em

#kadi
  img
    padding 0
    margin -25%

// contact

#contact
  padding 1em
  background salmon
  font-family freeroadregular
  text-transform uppercase
  text-align center
  vertical-align top
  h1, h2, h3
    font-family freeroad_blackregular
  h1
    font-size 3em
    color yellow
    margin-top 0.3em
  h2
    font-size 2em
    margin-left 1em
  div
    display inline-block

#footer
  padding 1em
  font-family sans-serif

@media only screen and (min-width:20rem)
  #ginger
    font-size .7em

@media only screen and (min-width:27rem)
  #ginger
    font-size 1em

@media only screen and (min-width:30rem)
  .tier-3
    font-size 1.1em
  #mahem
    font-size 3.0em
