@font-face
  font-family: 'Dalle'
  src: url('dalle_typeface-webfont.eot')
  src: url('dalle_typeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('dalle_typeface-webfont.woff') format('woff'),
         url('dalle_typeface-webfont.ttf') format('truetype'),
         url('dalle_typeface-webfont.svg#dalleregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'freeroadregular'
  src: url('freeroad_regular-webfont.eot')
  src: url('freeroad_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('freeroad_regular-webfont.woff') format('woff'),
         url('freeroad_regular-webfont.ttf') format('truetype'),
         url('freeroad_regular-webfont.svg#freeroadregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'freeroad_blackregular'
  src: url('freeroad_black-webfont.eot')
  src: url('freeroad_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('freeroad_black-webfont.woff') format('woff'),
         url('freeroad_black-webfont.ttf') format('truetype'),
         url('freeroad_black-webfont.svg#freeroad_blackregular') format('svg')
  font-weight: normal
  font-style: normal

