doctype html
html
  head
    meta(charset='utf-8')
    title Tawbawalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='All local celebration of music and art based in Old Town Cornelius')
    meta(name='keywords', content='Live Music, Performance, Art, Community, Festival, Entertainment, Creativity, Love, Bella, Food Truck, Fun, Things to do, Inspiration')
    meta(name='author', content='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='styles/main.min.css', rel='stylesheet', type='text/css')
  body
    //.fullscreen#modal-container
     // .fullscreen#modal-row
      //  img.fullscreen#modal-img(src='images/introAnimationV2.gif')

   .ruler 

    section#home
      #header-graphic
        .fullbar.tart
        .fullbar.salmon
          img#tawba(src='images/tawba.png')
        .fullbar.tart
          img#character(src='images/header-character.png')
        .fullbar.salmon
          img#walk(src='images/walk.png')

    section#music
      ul
        li#mayhem Musical Mayhem
        li#hawthornes The Hawthornes
        li#knowne Knowne Ghost
        li#noma Noma Trio
        li#laylo Laylo
        li#message The Message
        li#louis Louis Beeler
        li#lee Bryan Lee
        li#arsena Arsena Schroeder
        li#ingram Frederick Ingram
        li#nikki Nikki Fellows
        li#haley Haley Vogel
        li#mike Mike Alicke Band
        li#carter Carter Jones
        li#analise Analise Malick

    section#entertain


    section#sponsors
    section#contact
    script(src='scripts/after.min.js')
