doctype html
html
  head
    meta(charset='utf-8')
    title Tawbawalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='All local celebration of music and art based in Old Town Cornelius')
    meta(name='keywords', content='Live Music, Performance, Art, Community, Festival, Entertainment, Creativity, Love, Bella, Food Truck, Fun, Things to do, Inspiration')
    meta(name='author', content='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='styles/main.min.css', rel='stylesheet', type='text/css')
  body
    .container

      section#home
        .header
          .headline
            img(src='images/tawba.png')
          .character
            img(src='images/header-character.png')
          .headline
            img(src='images/walk.png')

      section#music
        header
          h1 Musical Mayhem
        ul
          li#hawthornes The Hawthornes
          li#knowne Knowne Ghost
          li#noma Noma Trio
          li#laylo Laylo
          li#message The Message
          li#louis Louis Beeler
          li#lee Bryan Lee
          li#arsena Arsena Schroeder
          li#ingram Frederick Ingram
          li#nikki Nikki Fellows
          li#haley Haley Vogel
          li#mike Mike Alicke Band
          li#carter Carter Jones
          li#analise Analise Malick

      section#food
        header
          .headline
            img.flip(src='images/foodtruck-fleet.png')
            h1 Food Truck Fleet
            img(src='images/foodtruck-fleet.png')

      section#bubbles
        ul.bubbles
          li.right-down Vivacious Vendors
          li.left-up Brilliant Businesses
          li.right-up Angelic Artists
          li.right-down Creative Craftsman

      section#about
        header
          h1 'Tawba Walk
          h3 An Arts and Music Festival
          p.
            This is that sentence.
            This is that sentence.
            This is that sentence.
            This is that sentence.

      section#sponsors
      section#contact

    script(src='scripts/after.min.js')
