doctype html
html
  head
    meta(charset='utf-8')
    title Tawbawalk
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='All local celebration of music and art based in Old Town Cornelius')
    meta(name='keywords', content='Live Music, Performance, Art, Community, Festival, Entertainment, Creativity, Love, Bella, Food Truck, Fun, Things to do, Inspiration')
    meta(name='author', content='humans.txt')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='styles/main.min.css', rel='stylesheet', type='text/css')
  body
    .fullscreen#modal-container
      .fullscreen#modal-row
        //a(href='http://facebook.com/events/430128370453170')
        img.fullscreen#modal-img(src='images/introAnimationV2.gif')

    section#home
    section#about
    section#entertain
    section#sponsors
    section#contact
    script(src='scripts/after.min.js')
