<!-- header -->    
        <nav class="menu">

            <img class="imgOne bellaLovePresent" src="../images/bellaLovePresent.png" alt="">
            <img class="imgTwo desktop" src="../images/dateAndTime.png" alt="">
            <img class="imgThree mobile"  src="../images/dateAndTimeM1.png" alt="">
            <img class="imgFour mobile"  src="../images/dateAndTimeM2.png" alt="">
            <img class="imhFive mobile"  src="../images/dateAndTimeM3.png" alt="">



            <!-- <form> 
                    <input type="text" name="" value="" placeholder="Email" class="email">
                    <input class="btn" type="submit" name="submit" value="Submit">
            </form>-->

                <!-- nav menu

                <ul id="main-menu" >
                    <li ><a href="/#/home">Home</a></li>
                    <li ><a href="/#/landing">Events</a></li>
                    <li ><a href="/#section-about">Media</a></li>
                    <li ><a href="/#section-contact">Contact</a></li>
                    <li><a >Shop</a></li>
                </ul> -->
        </nav>
<!-- /header -->



