*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0;
}
.off {
  display: none;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
}
